body {
    text-align: center;
    margin: 0;
}

.popUpMessage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.popUpMessage:target{
    opacity: 1;
    pointer-events: auto;
}

.popUpMessage > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: #fff
}

.inchide {
    background: gray;
    color: black;
    line-height: 20px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    box-shadow: 1px 1px 3px #000;
}

.inchide:hover {
    background: white;
}

ul {
    margin-bottom: -20px;
}

ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.game-starter h2 {
    margin-bottom: 0;
}
.game-starter .char-image.active {
    background: url(../images/Selector.png);
}
